name: CI/CD Pipeline Local

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker build -t app-ci ./app

    - name: Run security scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: app-ci
        severity: CRITICAL,HIGH
        exit-code: 1
